:root {
    --primary: #ffffff;
    --pink-clr: #f59eac;
    --secondary: #4e4e4e;
    --error: #ff4a4a;
    --deep-shadow: 0px 20px 20px 1px rgba(44, 44, 44, 0.5);
    --light-shadow: 0px 20px 20px -13px rgba(44, 44, 44, 0.5);
    --progressbar-transition: all linear 1s;
    --standard-transition: linear 0.4s;
    --green: green;
    --animate-card: all ease-in .34;
    --red: red;
    --white: rgb(72, 72, 72);
    --black: black;
    --scrollbarBG: #10464d33;
    --thumb-bg: #3a556b80;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    zoom: reset;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    color: var(--secondary);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
    background: linear-gradient(rgba(26, 26, 26, 0.7),
            rgb(26, 26, 26)),
        url("../images/bg-water.jpeg") center/cover no-repeat fixed;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#main__wrapper {
    overflow-y: auto;
    height: 92vh;
    transition: var(--animate-card);
}

li>a,
a {
    text-decoration: none !important;
}

.hide {
    display: none !important;
}

.hide_2 {
    opacity: 0 !important;
    transition: .2s;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
    -webkit-transition: var(--standard-transition);
    transition: var(--standard-transition);
}

::-webkit-scrollbar-thumb {
    background-color: var(--thumb-bg);
    -webkit-transition: var(--standard-transition);
    transition: var(--standard-transition);
}

.log___in,
.sign___up,
.update___password {
    position: absolute;
    top: 41%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    max-width: 800px;
    transition: .5s;
    border-radius: .4rem;
    -webkit-animation: animatepages infinite forwards ease-in .5s;
    animation: animatepages 1 forwards ease-in .5s;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

@-webkit-keyframes animatepages {
    to {
        top: 40%;
        opacity: 1;
    }
}

@keyframes animatepages {
    to {
        top: 40%;
        opacity: 1;
    }
}

#login___form,
#signup_form {
    transition: all ease-in .4s !important;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(15px);
    border-radius: .4rem !important;
}

.form-control {
    border: none;
}

#search____input {
    padding: .5rem;
    background-image: unset;
    background-image: linear-gradient(to top, hwb(0 10% 70% / 0.1) 0%, hwb(216 45% 45% / 0.1) 100%);
}

.img__conta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: .5;
    transition: 1s;
    z-index: -1;
    overflow: hidden;
}

.img__conta img {
    width: 100%;
    height: 100%;
    transform: translateX(-10%);
    -o-object-fit: cover;
    object-fit: cover;
    transition: opacity 0.5s;
    opacity: 0;
}

.in_image_anime {
    -webkit-animation: handleImageSlide 4s forwards ease-in-out;
    animation: handleImageSlide 4s forwards ease-in-out;
}

@-webkit-keyframes handleImageSlide {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }

    20% {
        transform: translateX(0);
        opacity: 1;
    }

    80% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(10%);
        opacity: 0;
    }
}

@keyframes handleImageSlide {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }

    20% {
        transform: translateX(0);
        opacity: 1;
    }

    80% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(10%);
        opacity: 0;
    }
}

#upload_formm {
    position: fixed !important;
    bottom: 7px !important;
    left: 10px !important;
    z-index: 1000;
    border-radius: 50%;
    opacity: .5;
}


.select-img-form:hover {
    opacity: 1;
}

.label .select-image-input {
    height: 0%;
    width: 0%;
    opacity: 0;
}

.label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid var(--primary);
    border-radius: 50%;
    margin: 10px auto;
    line-height: 30px;
    color: var(--primary);
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: var(--deep-shadow);
}

.label span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green);
    font-weight: 700;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 2.5rem;
    -webkit-backdrop-filter: blur(200px);
    backdrop-filter: blur(200px);
}

.label:hover {
    background: transparent;
    color: var(--red);
}

.label span {
    background: var(--primary);
    color: var(--white);
    width: 80%;
    height: 80%;
}

.label:hover span {
    background: var(--primary);
    color: var(--red);
    width: 80%;
    height: 80%;
}

#off__Container {
    transition: all ease-in .3s !important;
    overflow: auto;
    height: 93vh;
}

#notifications {
    position: fixed !important;
    top: 0% !important;
    left: 50% !important;
    transform: translate(-50%, 1%) !important;
    z-index: 2000 !important;
    min-width: 30%;
    border: 1px solid transparent;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    margin-top: -10%;
    padding-bottom: 0% !important;
    padding-top: .5rem !important;
    transition: all .2s;
    border-bottom-color: transparent !important;
}

.showNotification {
    -webkit-animation: snimate_notific 1 forwards ease-out .2s;
    animation: snimate_notific 1 forwards ease-out .2s;
}

@-webkit-keyframes snimate_notific {
    to {
        margin-top: 0%;
        opacity: 1 !important;
    }
}

@keyframes snimate_notific {
    to {
        margin-top: 0%;
        opacity: 1 !important;
    }
}

.loader {
    position: relative;
    width: 180px;
    height: 180px;
}

.loader:before,
.loader:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}

.loader:after {
    box-shadow: 0 2px 0 #FF3D00 inset;
    -webkit-animation: rotate 1.5s linear infinite;
    animation: rotate 1.5s linear infinite;
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.card {
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    overflow: hidden !important;
    border: 5px solid #7e7e7e1a;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.col.sm-card {
    max-height: 50%;
    min-height: 50%;
}

.col.sm-card .card {
    display: grid;
    place-content: center;
    align-items: center;
}

.img_card {
    -o-object-fit: cover !important;
    object-fit: cover !important;
}

.big_box {
    min-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    border: 0 transparent !important;
    background: rgb(20, 20, 20, 0.5) !important;
    padding: .7rem !important;
}

.prev__btn,
.next__btn {
    position: absolute;
    overflow: hidden;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev__btn {
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 300;
    transform: translate(-50%, 0) !important;
}

.next__btn {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 300;
    transform: translate(-50%, 0) !important;
}

.prev__btn span,
.next__btn span {
    font-size: 4rem;
    cursor: pointer !important;
    color: #ffffff80;
    z-index: 700;
    transition: all .2s;
    text-align: center;
}

.prev__btn span {
    padding-left: 1rem;
}


.prev__btn:hover span,
.next__btn:hover span {
    color: #ffffff;
}

.prev__btn:active span,
.next__btn:active span {
    color: red;
}

.heading {
    position: relative;
    font-size: 23px;
    text-transform: uppercase;
    opacity: .8;
    text-shadow: 2px 3px 1px rgba(252, 248, 248, 0.4) !important;
}

@media screen and (max-width: 400px) {
    .label {
        width: 40px;
        height: 40px;
    }

    .label span {
        font-size: 23px;
    }

    .heading {
        font-size: 20px;
    }

    @media screen and (max-width: 351px) {
        .heading {
            font-size: 15px;
        }
    }
}

.glassy {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

#search____input {
    background-color: transparent;
    border: 2px solid transparent;
    box-shadow: none;
    color: var(--red);
    width: 100%;
    z-index: 1;
    cursor: pointer;
    transition: .5s;
}

.img-container {
    border: 3px solid transparent;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: .2rem;
    overflow: hidden;
    transition: var(--animate-card);
    background-size: cover;
    -o-object-fit: contain;
    object-fit: contain;
    transition: .3s !important;
}


.img-container img {
    transition: .3s;
    border-radius: .4rem;
}

.card:hover {
    cursor: pointer;
    opacity: 1;
}

.card:hover .img-container img {
    transform: scale(1.0999);
    transition: .3s;
}


.card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: all .3s;
    height: 1%;
    opacity: 0;
    overflow-y: auto !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: transparent;
}

.modaal_cont {
    opacity: 0 !important;
}

#prof_body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    padding: unset;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    opacity: 1;
}

.prof-bad {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    border: unset;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: transparent !important;
    box-shadow: unset;

}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    background: rgb(32, 32, 32);
    opacity: 0.8;
    z-index: 999;
}

.backdrop img {
    position: absolute;
    display: block;
    max-width: 60%;
    min-width: 60%;
    min-height: 80%;
    max-height: 80%;
    top: 50%;
    left: 50%;
    border-radius: 0.2rem;
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    transform: translate(-50%, -50%);
    border: 6px solid transparent !important;
    outline: 4px solid rgb(228, 227, 227);
}

@media screen and (max-width: 769px) {
    .backdrop img {
        min-width: 90%;
        min-height: 70%;
        -o-object-fit: contain;
        object-fit: contain;
    }
}

.big_spinnerr {
    background-color: transparent;
    border: transparent;
    min-width: 100%;
    overflow: hidden;
}


.col {
    min-height: 30vh !important;
    overflow: hidden !important;
}

.skeleton {
    display: grid;
    place-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-height: 50% !important;
    z-index: 10;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(10px) grayscale(100%);

    transform: translateX(-100%);
    -webkit-animation: waveAnimation 1.5s linear infinite;
    animation: waveAnimation 1.5s linear infinite;
}


@-webkit-keyframes waveAnimation {
    0% {
        transform: translateX(-100%);
        background-color: rgba(255, 255, 255, 0.1);
        -webkit-filter: blur(10px);
        filter: blur(10px);
        opacity: .5;
    }

    100% {
        transform: translateX(100%);
        background-color: rgba(255, 255, 255, 0.07);
        -webkit-filter: blur(10px);
        filter: blur(10px);
        opacity: .2;
    }
}

@keyframes waveAnimation {
    0% {
        transform: translateX(-100%);
        background-color: rgba(255, 255, 255, 0.1);
        -webkit-filter: blur(10px);
        filter: blur(10px);
        opacity: .5;
    }

    100% {
        transform: translateX(100%);
        background-color: rgba(255, 255, 255, 0.07);
        -webkit-filter: blur(10px);
        filter: blur(10px);
        opacity: .2;
    }
}

.download-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000 !important;
    padding: .1rem;
    text-align: center;
    cursor: cell;
    margin: auto;
    border-radius: .1rem;
    color: #9f9e9e;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgb(76, 76, 76);
}

.download-btn:hover {
    cursor: pointer;
    color: var(--red)
}

@media screen and (max-width: 447px) {

    .log___in,
    .sign___up,
    .update___password {
        background-image: unset;
    }
}